<td class="page" style= "padding-left: <%= padding_left(level) %>px">
  <span class="w1">
    <% if simple %>
      <%= icon %>
      <%= node_title %>
    <% elsif Page === page %>
      <%= expander %>
      <%= icon %>
      <%= node_title %>
      <% SiteLanguage.codes.each do |l| %>
        <small><%= link_to(l, translated_admin_page_edit_url(:id => page.id, :language => l, :action => 'edit')) %></small>
      <% end %>
      <%= page_type %>
      <%= spinner %>
    <% else %>
      <%= expander + link_to("#{icon} #{node_title}", page_edit_url(:id => page), :title => page.url) %>
      <%= page_type %>
      <%= spinner %>
    <% end %>
  </span>
</td>